
@{
    ViewData["Title"] = "SuccessfullyUpdatedProfile";
}

<div class="alert alert-dismissible alert-success mt-3 col-4">
    <button type="button" class="close" data-dismiss="alert">&times;</button>
    <strong>Well done!</strong>  <a href="#" class="alert-link">Profile has updated</a>.
</div>
