
@{
    ViewData["Title"] = "ViewOfTheWeek";
}

<h2>Training plan</h2>
<div>
    <table class="table table-hover">
        <thead>
            <tr>
                <th class="table-info" scope="col">Day / Week</th>
                <th class="table-primary" scope="col">MON</th>
                <th class="table-primary" scope="col">TUE</th>
                <th class="table-primary" scope="col">WED</th>
                <th class="table-primary" scope="col">THURS</th>
                <th class="table-primary" scope="col">FRI</th>
                <th class="table-primary" scope="col">SAT</th>
                <th class="table-primary" scope="col">SUN</th>
            </tr>
        </thead>
        <tbody>
            <tr class="table">
                <th scope="row" class="table-dark">Week: 1</th>
                <td class="table-light">Column content</td>
                <td class="table-light">Column content</td>
                <td class="table-light">Column content</td>
                <td class="table-light">Column content</td>
                <td class="table-light">Column content</td>
                <td class="table-light">Column content</td>
                <td class="table-light">Column content</td>
            </tr>
            <tr class="table">
                <th scope="row" class="table-dark">Week: 2</th>
                <td class="table-light">Column content</td>
                <td class="table-light">Column content</td>
                <td class="table-light">Column content</td>
                <td class="table-light">Column content</td>
                <td class="table-light">Column content</td>
                <td class="table-light">Column content</td>
                <td class="table-light">Column content</td>
            </tr>
            <tr class="table">
                <th scope="row" class="table-dark">Week: 3</th>
                <td class="table-light">Column content</td>
                <td class="table-light">Column content</td>
                <td class="table-light">Column content</td>
                <td class="table-light">Column content</td>
                <td class="table-light">Column content</td>
                <td class="table-light">Column content</td>
                <td class="table-light">Column content</td>
            </tr>
            <tr class="table">
                <th scope="row" class="table-dark">Week: 4</th>
                <td class="table-light">Column content</td>
                <td class="table-light">Column content</td>
                <td class="table-light">Column content</td>
                <td class="table-light">Column content</td>
                <td class="table-light">Column content</td>
                <td class="table-light">Column content</td>
                <td class="table-light">Column content</td>
            </tr>

            
        </tbody>
        <tfoot>
            <tr class="table-primary">
                <th scope="row"></th>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                
            </tr>
        </tfoot>
    </table>

    <hr />

    <div class="row">
        <a class="nav-link" asp-controller="Home" asp-action="Options">back to options</a>
    </div>
</div>

